
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.xo_boxes {
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    /* align-items:center; */
    align-content: space-between;
    justify-content: space-between;
    margin: 30vh auto 0px auto;
    /* border: 1px solid white; */
    background-color: rgb(182, 182, 182);

}

.xo_box {
    cursor: pointer;
    width: 33%;
    /* margin: 10px; */
    /* border: 1px solid black; */
    height: 33%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.xo_box:hover {
    background-color: rgb(22, 22, 22);
}

.xo_box img {
    width: 60%;
}

.not_view {
    display: none;
}

.view {
    display: block;
}

@media screen and (max-width: 600px){
    .xo_boxes{
        width: 45vw;
        height: 45vw;
    }
}
