@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    height:100vh;
}

h2{
    text-align: center;
    color: white;

}
header{
    display: flex;
    align-items: center;

}
header img{
    width: 15%;
    margin: 5% auto;
    filter:opacity(.8);
}

.xo_boxes {
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    /* align-items:center; */
    align-content: space-between;
    justify-content: space-between;
    margin: 0vh auto 0px auto;
    /* border: 1px solid white; */
    background-color: rgb(182, 182, 182);

}

.xo_box {
    cursor: pointer;
    width: 33%;
    /* margin: 10px; */
    /* border: 1px solid black; */
    height: 33%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.xo_box:hover {
    background-color: rgb(22, 22, 22);
}

.xo_box img {
    width: 60%;
}

.not_view {
    display: none;
}

.view {
    display: block;
}
footer{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}
footer p{
    color: white;
    font-size: 14px;
}
@media screen and (max-width: 600px){
    .xo_boxes{
        width: 45vw;
        height: 45vw;
    }
}
